@import url(https://fonts.googleapis.com/css?family=Railway);
* {
  box-sizing: border-box;
  font-family: "Raleway";
}
html, body {
  margin: 0;
  height: 100%;
}

h2 {
  vertical-align: center;
  text-align: center;
}

.menu a{
    text-decoration: none;
    color: #191919;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.menu a:hover {
    color: #3c6e71;
    /* transition: color 0.3s ease-in-out; */
    font-weight: 550;
  }

.top-nav {
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #284b63;
  height: 50px;
  padding: 1.5em 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #d9d9d9;
  color: #284b63;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #d9d9d9;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: none;
    /* border: 1px solid #333; */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #284b63;
    background-color: #d9d9d9;
  }
  /* .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  } */
}

.main{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4em 8em;
} 
@media screen and (max-width: 700px){
  .main{
    padding: 5em 0.5em;
  }
  .profile-pic{
    height: 15em;

  }

  .intro {
    height: 12em;
    min-width: 17em;
  }
}

.profile-pic {
  background: linear-gradient(to right, #284b63, #3c6e71);
  margin-left: -4em;
  padding-left: 12em;
  height: 18em;
    width: 27em; 
}
.profile-pic img {
  height: 18em;
  width: 15em;
}

.intro {
  background-color: #d9d9d9;
  overflow: hidden;
  margin-right: -4em;
  margin-top: 2.5em;
  padding: 1.8em;
  z-index: 2;
  /* margin-top: 1em;  */
  height: 14em;
  width: 19em;
}
.greet {
  font-size: 2em;
  line-height: 1.4em;
}
.greet span {
  color: #284b63;
}
.aboutme {
  
  line-height: 1.4em;
  padding: 1em 0;
  font-size: 0.7em;
}
  